table {
    width: 100%;
  }

  td {
    width: 50%;
    font-size: medium;
    font-style: italic;
    text-align: justify;
    border: 1px solid;
    
  }


  th{
    width: 50%;
    font-size: X-large;
    font-style: italic;
    text-align: center;
    border-bottom: 2px solid;
    background-color: #C0C0C0;
  }

colgroup{
  background-color: 
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%);;
}